POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=your_db_name
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://postgres:your_password_here@localhost:5432/your_db_name

APP_NAME=Task Tracker API
APP_VERSION=0.1.0
DEBUG=True